a, a:focus, a:hover {
    color: #fff;
}
.btn-default, .btn-default:hover, .btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}
.btn-success.btn-lg {
    width: 230px;
}
.btn-success.btn-lg .fa {
    margin-top: 9px;
}
.btn-warning.btn-lg {
    width: 230px;
}
.btn-warning.btn-lg .fa {
    margin-top: 7px;
}
.lead.small-margin {
    margin-bottom: 5px;
}
h1.big-margin {
    margin-bottom: 30px;
}
ul.lead {
    padding-left: 0;
}
ul.lead li {
    
    position: relative;
    display: inline-block;
}
ul.lead li .fa {
    position: absolute;
    left: -24px;
    top: 7px;
    font-size: 15px;
}
.inner.cover .lead a, .inner.cover .lead a:focus, .inner.cover .lead a:hover {
    color: #428bca;
}
html {
    position: relative;
    
}
html, body {
    min-height: 100%;
}
div.background {
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #333;
    background-repeat: repeat-y;
    background-position: center center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
body {
    
    margin-bottom: 60px;
    color: #fff;
    text-align: center;
    
}
.site-wrapper {
      
    /* For at least Firefox */
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.inner {
    padding: 30px;
}
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
}
.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}
@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}
.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
    bottom: 0;
    
    height: 60px;
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
}
.mastfoot p {
    margin-bottom: 0;
}
.mastfoot-container {
    position: absolute;
    bottom: 3px;
    width: 100%;
}
@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
    }
    /* Handle the widths */
    .masthead, .mastfoot, .cover-container {
        
        /* Must be percentage or pixels for horizontal alignment */
    }
}
@media (min-width: 992px) {
    .masthead, .mastfoot, .cover-container {
        width: 800px;
    }
}

.cover-heading {
    margin-top: 60px;
}
.carousel.slide {
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn.btn-lg {
    margin-bottom: 5px;
}

.screenshot img {
   height: 200px;
}

