<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downloadedFilename</key>
	<integer>2</integer>
	<key>autoDownloadWhenAdded</key>
	<string>0</string>
	<key>showDock</key>
	<integer>1</integer>
	<key>menuItem</key>
	<integer>1</integer>
	<key>autoDownloadWhenUpdated</key>
	<integer>1</integer>
	<key>fileLocation</key>
	<string>~/Desktop</string>
	<key>autoRefresh</key>
	<integer>15</integer>
</dict>
</plist>
